﻿body
{
	font: 400 11px Verdana,Geneva,sans-serif;
	height: 100%;
	margin: 0 auto;
	min-height: 565px;
	padding: 10px 0 0 0;
	text-align: left;
	width: 100%;
}
.container {
	background-color: #F2F2F2;
}
.basebackground {
	background: #f1e767; /* Old browsers */
	background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */
}
.header {
	height: 100px;
	margin-bottom: 10px;
	text-align: center;
}
.footer
{
	height: 30px;
	margin-top: 10px;
}
.header div span, .footer span
{
	text-align: justify;
	font-size: xx-large;
	margin: 0 auto;
}
.content {
	min-height: 435px;
}